<nav class="navbar navbar-expand-sm navbar-dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <a class="navbar-brand logo" href="#">
          <img src="./assets/images/logo.png" height="50" class="d-inline-block align-content-center" alt="">
          GameRental.pl</a>
        <li class="nav-link"></li>
      </ul>

      <div class="d-flex ms-auto">
        <a class="nav-link elem" href="#">Witaj, Adam</a>
        <a class="nav-link elem" href="#">Wyloguj się</a>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
